* {
  margin: 0px;
}

.formBackground {
  background-color: #ff5964;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Acme", sans-serif;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.formImgWrap {
  width: 100%;
  height: 40vh;
  background-image: url("./Pizza.jpg");
  background-size: cover;
}

.formWrap {
  background-color: white;
  width: 40rem;
}

.formTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formHeader {
  height: 7vh;
  display: flex;
  align-items: center;
}

.formSubHeader {
  height: 10vh;
  display: flex;
  align-items: center;
}

.sectionDividerWrap {
  background-color: rgb(192, 191, 191);
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.nameForm {
  padding-left: 2rem;
  height: 7rem;
  display: flex;
  align-items: center;
}

.nameForm input {
  width: 36rem;
  height: 2rem;
}

.sizeForm {
  height: 7vh;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.sizeSelect {
  width: 10rem;
}
.sauceForm {
  padding-left: 2rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  display: flex;
  flex-direction: column;
}

.sauceForm label {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.sauceForm input {
  margin-right: 10px;
}

.toppingInput {
  width: 50%;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.toppingsForm {
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem 2rem 0.2rem 2rem;
}

.toppingInput input {
  margin-right: 10px;
}

.substituteForm {
  height: 7vh;
  padding-left: 2rem;
  display: flex;
  align-items: center;
}

.substituteForm input {
  margin-right: 10px;
}

.specialForm {
  height: 8vh;
  display: flex;
  justify-content: flex-start;
  padding-left: 2rem;
  align-items: center;
}
.specialForm input {
  width: 36rem;
  height: 2rem;
}

.bottomTab {
  background-color: rgb(192, 191, 191);
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0.5rem 2rem 0.5rem 2rem; */
  padding-left: 2rem;
  padding-right: 2rem;
}

.bottomTab button {
  width: 20rem;
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 3rem;
  align-items: center;
  font-family: "Acme", sans-serif;
}

.bottomTab input {
  height: 2.7rem;
}

@media only screen and (max-width: 680px) {
  .formWrap {
    width: 100%;
    margin-top: 0px;
  }

  .formBackground {
    padding-top: 0px;
  }

  .specialForm {
    justify-content: center;
    padding-left: 2rem;
    align-items: center;
    padding: 0px;
  }
  .specialForm input {
    width: 90%;
  }

  .nameForm {
    padding-left: 2rem;
    height: 7rem;
    justify-content: center;
    padding: 0px;
  }

  .nameForm input {
    width: 90%;
    height: 2rem;
  }

  .sectionDividerWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
  }

  .formImgWrap {
    height: 20rem;
  }
}

@media only screen and (max-width: 590px) {
  .bottomTab button {
    width: 100%;
    padding-left: 20px;
    flex-direction: column;
  }
}

@media only screen and (max-width: 400px) {
  .bottomTab {
    flex-direction: column;
    height: auto;
    padding: 0px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0px;
    /* padding: 0px; */
  }

  .bottomTabLeft {
    width: 70%;
    margin: 0px;
    padding: 0px;
  }

  .bottomTabLeft {
    /* background-color: blue; */
    width: 80%;
    margin: 0px;
    overflow: hidden;
  }
  .bottomTabRight {
    /* background-color: blue; */
    width: 80%;
    margin: 0px;
    overflow: hidden;
  }

  .bottomTab input {
    width: 98%;
    margin-bottom: 10px;
  }

  .toppingInput {
    width: 100%;
  }
}
